<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="userList" resultType="com.woori.domain.UserVO">
		select * from userjoin
	</select>
	
	<select id="userView" resultType="com.woori.domain.UserVO">
		select * from userjoin
	</select>
	
	<delete id="userDelete">
		delete from userjoin where userId=#{userId}
	</delete>
	
	
</mapper>