<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper->DAO->DAOImpl->Service->ServiceImple->Controller -->

<mapper namespace="hodu"> <!-- DAO에서 접근할 이름 -->
	<!-- user 전체 조회 -->
	<select id="userAllList" resultType="com.woori.domain.userVO">
		SELECT userId, userPw, userName, userBirth, sex, userMobile, userEmail, idx FROM userjoin
	</select>
	<!-- partner 전체 조회 -->
	<select id="partnerAllList" resultType="com.woori.domain.partnerVO">
		SELECT partnerId, partnerPw, partnerName, businessNum, partnerMobile, partnerEmail, idx FROM partnerjoin
	</select>
	
	<!-- user삽입 -->
	<insert id="userInsert" parameterType="com.woori.domain.userVO"> 
		INSERT INTO userjoin(userId, userPw, userName, userBirth, sex, userMobile, userEmail)
		VALUES (#{userId},#{userPw},#{userName},#{userBirth},#{sex}, #{userMobile},#{userEmail})
	</insert>

	<!-- partner 삽입 -->
	<insert id="partnerInsert" parameterType="com.woori.domain.partnerVO"> 
		INSERT INTO partnerjoin(partnerId, partnerPw, partnerName, businessNum, partnerMobile, partnerEmail)
		VALUES (#{partnerId},#{partnerPw},#{partnerName},#{businessNum}, #{partnerMobile},#{partnerEmail})
	</insert>
	
	
	<!-- user 개별 조회 -->
	<select id="userOneList" parameterType="String" resultType="com.woori.domain.userVO">
		SELECT userId, userPw, userName, userBirth, sex, userMobile, userEmail, idx FROM userjoin WHERE userId = #{userId}
	</select>
	
	<!-- partner 개별 조회 -->
	<select id="partnerOneList" parameterType="String" resultType="com.woori.domain.partnerVO">
		SELECT partnerId, partnerPw, partnerName, businessNum, partnerMobile, partnerEmail, idx FROM partnerjoin WHERE partnerId = #{partnerId}
	</select>
	
	<!-- user 수정 -->
	<update id="userUpdate" parameterType="com.woori.domain.userVO">
		UPDATE userjoin SET
			userPw = #{userPw},
			userName = #{userName},
			userBirth = #{userBirth},
			sex = #{sex}, 
			userMobile = #{userMobile}, 
			userEmail = #{userEmail}
		WHERE userId=#{userId}	
	</update>
	
	<!-- partner 수정 -->
	<update id="partnerUpdate" parameterType="com.woori.domain.partnerVO">
		UPDATE partnerjoin SET
			partnerPw = #{partnerPw}, 
			partnerName = #{partnerName}, 
			businessNum = #{businessNum}, 
			partnerMobile = #{partnerMobile}, 
			partnerEmail = #{partnerEmail}
		WHERE partnerId=#{partnerId}	
	</update>
	
	<!-- user 삭제 -->
	<delete id="userDelete" parameterType="String">
		DELETE FROM userjoin WHERE userId=#{userId}
	</delete>
	<!-- partner 삭제 -->
	<delete id="partnerDelete" parameterType="String">
		DELETE FROM partnerjoin WHERE partnerId=#{partnerId}
	</delete>
	
	
	
	
</mapper>





















