<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pension">
	
	<select id="likeList" resultType="com.woori.domain.PensionVO">
		select * from pension where region = #{region} order by like_mean desc
	</select>
	
	<select id="moneyList" resultType="com.woori.domain.PensionVO">
		select * from pension where region = #{region} order by price_mean  
	</select>
	
	<!-- 객실 등록 -->
	<insert id="roomRegister">
		INSERT INTO room(room_idx, partnerId, roomName, price, dogSize,
			 dogNum, peopleNum, img_room, message_room) 
			VALUES(#{room_idx},#{partnerId},#{roomName},#{price},#{dogSize}, #{dogNum}, 
			#{peopleNum}, #{img_room}, #{message_room})
	</insert>
	<!-- 펜션 세부 사항 출력 -->
	<select id="RoomList" resultType="com.woori.domain.RoomVO" parameterType="String">
		select   *   from  
		room   
		where   
		pensionName = #{pensionName} 
	</select>
	
	<!-- 펜션 등록 -->
	<insert id="pensionRegister">
		insert into pension (partnerId, region, pensionName, address, message)  
		values (#{partnerId}, #{region}, #{pensionName}, #{address}, #{message})
	</insert>
</mapper>